﻿@model DataTo.Models.UserViewModel

@{
    ViewBag.Title = "Create";
}

@{ Model.UsuarioLogeado = HttpContext.Current.User.Identity.Name.ToString(); }

<h2>Crear usuario</h2>

@using (Html.BeginForm("Create", "User"))
{
    @Html.HiddenFor(model => model.UsuarioLogeado)
    <div class="col-lg-6">
        <dl>
            <dt>Nombre</dt>
            <dd>@Html.TextBoxFor(model => model.FirstName, new { @class = "form-control" })
            <dd>@Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })</dd>


            <dt>Apellido</dt>
            <dd>@Html.TextBoxFor(model => model.LastName, new { @class = "form-control" })</dd>
            <dd>@Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })</dd>


            <dt>Login User</dt>
            @ViewBag.Error
            <dd>@Html.TextBoxFor(model => model.LoginName, new { @class = "form-control" })</dd>
            <dd>@Html.ValidationMessageFor(model => model.LoginName, "", new { @class = "text-danger" })</dd>


            <dt>Password</dt>
            <dd>@Html.TextBoxFor(model => model.Password, new { @class = "form-control", @type = "password", @TextMode = "Password" })</dd>
            <dd>@Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })</dd>

            <dt>Confirm Password</dt>
            <dd>@Html.TextBoxFor(model => model.ConfirmPassword, new { @class = "form-control", @type = "password", @TextMode = "Password" })</dd>
            <dd>@Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })</dd>


            <dt>Nivel de acceso</dt>
            <dd>@Html.TextBoxFor(model => model.AccessLevel, new { @class = "form-control", @type = "number" })</dd>
            <dd>@Html.ValidationMessageFor(model => model.AccessLevel, "", new { @class = "text-danger" })</dd>

        </dl>

        <dl>
            <dt>
                <input type="submit" value="Guardar" class="btn btn-success" />
                @Html.ActionLink("Volver", "Index", "User", null, new { @class = "btn btn-default" })
            </dt>
        </dl>
    </div>
}
