﻿@model DataTo.Models.UserViewModel

@{
    ViewBag.Title = "Delete";
}

@{ Model.UsuarioLogeado = HttpContext.Current.User.Identity.Name.ToString(); }

<h2>Borrar usuario</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()


    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.CreateDate)
        @Html.HiddenFor(model => model.CreateUserId)
        @Html.HiddenFor(model => model.AccessLevel)
        @Html.HiddenFor(model => model.EditDate)
        @Html.HiddenFor(model => model.EditUserId)
        @Html.HiddenFor(model => model.FirstName)
        @Html.HiddenFor(model => model.LastName)
        @Html.HiddenFor(model => model.LoginName)
        @Html.HiddenFor(model => model.Password)
        @Html.HiddenFor(model => model.UsuarioLogeado)


        <dl>
            <dt>Nombre</dt>
            <dd>
                @Html.DisplayFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
            </dd>

            <dt>Apellido</dt>
            <dd>
                @Html.DisplayFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
            </dd>

            <dt>Nombre de usuario</dt>
            <dd>
                @Html.DisplayFor(model => model.LoginName, new { htmlAttributes = new { @class = "form-control" } })
            </dd>

            <dt>Nivel de acceso</dt>
            <dd>
                @Html.DisplayFor(model => model.AccessLevel, new { htmlAttributes = new { @class = "form-control" } })
            </dd>
        </dl>

        <button type="submit" class="btn btn-danger">Eliminar</button>
        @Html.ActionLink("Volver", "Index", "User", htmlAttributes: new { @class = "btn btn-default" })
    </div>
}