﻿@model DataTo.Models.UserViewModel

@{
    ViewBag.Title = "Details";
}

@{ Model.UsuarioLogeado = HttpContext.Current.User.Identity.Name.ToString(); }

<h2>Info</h2>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.UsuarioLogeado)
    <div class="form-group">
        @Html.Label("Nombre")
        @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control", disabled = "disabled" })
    </div>

    <div class="form-group">
        @Html.Label("Apellido")
        @Html.TextBoxFor(model => model.LastName, new { @class = "form-control", disabled = "disabled" })
    </div>

    <div class="form-group">
        @Html.ActionLink("Volver", "Index", "User", null, new { @class = "btn btn-danger" })
    </div>

    <div class="form-group">
        @Html.DisplayNameFor(model => model.AccessLevel)
        @Html.TextBoxFor(model => model.AccessLevel, new { @class = "form-control" })
    </div>
}