﻿@model DataTo.Models.UserViewModel

@{
    ViewBag.Title = "Edit";
}

@{ Model.UsuarioLogeado = HttpContext.Current.User.Identity.Name.ToString(); }

<h2>Editar</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()


    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Id)
    @Html.HiddenFor(model => model.CreateDate)
    @Html.HiddenFor(model => model.CreateUserId)
    @Html.HiddenFor(model => model.Password)
    @Html.HiddenFor(model => model.UsuarioLogeado)


    <dl>
        <dt>Nombre</dt>
        <dd>@Html.EditorFor(model => model.FirstName, new { @class = "form-control" })
        <dd>@Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })</dd>


        <dt>Apellido</dt>
        <dd>@Html.EditorFor(model => model.LastName, new { @class = "form-control" })</dd>
        <dd>@Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })</dd>


        <dt>Login User</dt>
        <dd>@Html.EditorFor(model => model.LoginName, new { @class = "form-control" })</dd>
        <dd>@Html.ValidationMessageFor(model => model.LoginName, "", new { @class = "text-danger" })</dd>


        <dt>Password</dt>
        <dd>@Html.EditorFor(model => model.Password, new { @class = "form-control", @type = "password", @TextMode = "Password" })</dd>
        <dd>@Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })</dd>


        <dt>Nivel de acceso</dt>
        <dd>@Html.EditorFor(model => model.AccessLevel, new { @class = "form-control", @type = "number" })</dd>
        <dd>@Html.ValidationMessageFor(model => model.AccessLevel, "", new { @class = "text-danger" })</dd>

    </dl>

    <dl>
        <dt><input type="submit" value="Guardar" class="btn btn-success btn-3d" /> </dt>
    </dl>
}


