﻿@model IEnumerable<DataTo.Models.ListUserViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Listado de usuarios</h2>

@Html.ActionLink("Nuevo usuario", "Create", "User", null, new { @class = "btn btn-default btn-sm" })
<hr />

<div class="col-lg-12">
    <table class="table table-bordered table-striped table-sm" id="tableReorderUsers">
        <thead>
            <tr>
                <th width="15%">#</th>
                <th width="70%">Nombre</th>
                <th width="15%">Opciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(model => item.Id)</td>
                    <td>@Html.DisplayFor(model => item.NameComplete)</td>
                    <td>
                        @Html.ActionLink("Editar", "Edit", new { id = item.Id }) |
                        <a href="#" onclick="openDeleteModal(@item.Id)">Eliminar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
