/* Theme Name:The Project - Responsive Website Template
Author:HtmlCoder
Author URI:http://www.htmlcoder.me
Author e-mail:htmlcoder.me@gmail.com
Version: 2.0.5
Created:May 2015
License URI:http://support.wrapbootstrap.com/
File Description:Light Blue Skin
*/
/* 1- Typography
-------------------------------------------------
-------------------------------------------------*/
a {
  color: #09afdf;
}

a:hover {
  color: #0c9ec7;
}

a:focus,
a:active {
  color: #0c9ec7;
}

mark,
.mark {
  background-color: #09afdf;
  color: #ffffff;
}

.text-default {
  color: #09afdf;
}

/* Tables
---------------------------------- */
.table.table-colored {
  border-bottom-color: #09afdf;
}

.table-colored > thead > tr > th {
  border-color: #09afdf;
  background-color: #09afdf;
  color: #ffffff;
}

/* 2- Layout
-------------------------------------------------
-------------------------------------------------*/
.header-top.dark {
  background-color: #2e3537;
  border-bottom: 1px solid #252a2c;
}

.header.dark {
    background-color: #203f47;
    border-top-color: #203f47;
}

.header-top.colored {
  background-color: #09afdf;
  border-bottom: 1px solid #09afdf;
}

.default-bg {
  background-color: #09afdf;
  color: #ffffff;
}

.default-bg-50 {
  background-color: rgba(9, 175, 223, 0.5);
  color: #ffffff;
}

/*Transparent Header*/
.transparent-header header.header.dark.transparent-header-on {
  background-color: rgba(57, 66, 69, 0.8);
  border-top-color: rgba(37, 42, 44, 0.5);
}

/*Fixed Navigation*/
.fixed-header-on .dark.header.fixed {
    background-color: rgba(32, 63, 71, 0.95);
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 992px) {
  .fixed-header-on .dark.header .dropdown-menu {
    border: 1px solid #2e3537;
  }
}

/*Translucent Backgrounds*/
.default-translucent-bg:after {
  background-color: rgba(9, 175, 223, 0.7);
}

.default-translucent-bg.hovered:hover:after {
  background-color: rgba(9, 175, 223, 0.8);
}

.default-hovered:hover:after,
.default-hovered:hover {
  background-color: #09afdf;
}

/* 4 Pages
-------------------------------------------------
-------------------------------------------------*/
/* Blog Timeline layout
---------------------------------- */
.timeline-date-label:after {
  background-color: #09afdf;
}

/* 5 Components
-------------------------------------------------
-------------------------------------------------*/
/* Buttons
---------------------------------- */
.btn-default {
  background-color: #09afdf;
  border-color: #0c9ec7;
}

.btn-default:hover,
.btn-default:focus,
.btn-default.focus,
.btn-default:active,
.btn-default.active,
.show > .dropdown-toggle.btn-default {
  background-color: #0c9ec7;
  border-color: #0c9ec7;
}

.btn-default.disabled,
.btn-default[disabled],
fieldset[disabled] .btn-default {
  background-color: #09afdf;
  border-color: #0c9ec7;
}

.btn-default-transparent {
  border-color: #09afdf;
}

.btn-default-transparent:hover,
.btn-default-transparent:focus,
.btn-default-transparent.focus,
.btn-default-transparent:active,
.btn-default-transparent.active,
.show > .dropdown-toggle.btn-default-transparent {
  background-color: #0c9ec7;
  border-color: #0781a4;
}

.default-bg .btn-default,
.default-translucent-bg .btn-default,
.default-bg .btn-default-transparent,
.default-translucent-bg .btn-default-transparent {
  color: #09afdf;
}

.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white:active,
.btn-white.active,
.show > .dropdown-toggle.btn-white {
  color: #0c9ec7;
}

.hvr-radial-in,
.hvr-rectangle-in,
.hvr-shutter-in-horizontal,
.hvr-shutter-in-vertical {
  background: #0c9ec7;
}

.hvr-radial-in:hover,
.hvr-rectangle-in:hover,
.hvr-shutter-in-horizontal:hover,
.hvr-shutter-in-vertical:hover {
  background: #0c9ec7;
}

.hvr-sweep-to-right:before,
.hvr-sweep-to-left:before,
.hvr-sweep-to-bottom:before,
.hvr-sweep-to-top:before,
.hvr-bounce-to-right:before,
.hvr-bounce-to-left:before,
.hvr-bounce-to-bottom:before,
.hvr-bounce-to-top:before,
.hvr-radial-out:before,
.hvr-rectangle-out:before,
.hvr-shutter-out-horizontal:before,
.hvr-shutter-out-vertical:before {
  background: #0c9ec7;
}

.no-csstransitions .hvr-sweep-to-right:hover,
.no-csstransitions .hvr-sweep-to-left:hover,
.no-csstransitions .hvr-sweep-to-bottom:hover,
.no-csstransitions .hvr-sweep-to-top:hover,
.no-csstransitions .hvr-bounce-to-right:hover,
.no-csstransitions .hvr-bounce-to-left:hover,
.no-csstransitions .hvr-bounce-to-bottom:hover,
.no-csstransitions .hvr-bounce-to-top:hover,
.no-csstransitions .hvr-radial-out:hover,
.no-csstransitions .hvr-rectangle-out:hover,
.no-csstransitions .hvr-shutter-out-horizontal:hover,
.no-csstransitions .hvr-shutter-out-vertical:hover,
.no-csstransitions .hvr-radial-in:hover,
.no-csstransitions .hvr-rectangle-in:hover,
.no-csstransitions .hvr-shutter-in-horizontal:hover,
.no-csstransitions .hvr-shutter-in-vertical:hover {
  background: #0c9ec7;
}

/* Pager
---------------------------------- */
ul.pagination .page-item .page-link:hover,
ul.pagination .page-item .page-link:focus {
  background-color: #0c9ec7;
  border-color: #0c9ec7;
}

ul.pagination .page-item.active .page-link,
.page-item.active .page-link:hover,
.page-item.active .page-link:focus {
  background-color: #09afdf;
  border-color: #09afdf;
}

/* Breadcrumb
---------------------------------- */
.banner .breadcrumb .breadcrumb-item a:hover {
  color: #0c9ec7;
}

.banner .dark.breadcrumb-container {
  background-color: rgba(57, 66, 69, 0.6);
}

/* Nav pills
---------------------------------- */
.nav-pills.style-2 > li .nav-link.active,
.nav-pills.style-2 > li .nav-link.active:hover,
.nav-pills.style-2 > li .nav-link.active:focus,
.nav-pills.style-2 > li .nav-link:hover,
.nav-pills.style-2 > li .nav-link:focus {
  color: #09afdf;
}

.nav.flex-column > li .nav-link.active,
.nav.flex-column > li .nav-link.active:hover,
.nav.flex-column > li .nav-link.active:focus,
.nav.flex-column > li .nav-link:hover,
.nav.flex-column > li .nav-link:focus {
  color: #09afdf;
}

.nav-pills > li .nav-link.active:after {
  color: #09afdf;
}

.nav.flex-column:not(.list-style-icons) > li .nav-link.active:hover:after,
.nav.flex-column:not(.list-style-icons) > li .nav-link.active:focus:after,
.nav.flex-column:not(.list-style-icons) > li .nav-link:hover:after,
.nav.flex-column:not(.list-style-icons) > li .nav-link:focus:after {
  color: #0c9ec7;
}

.nav.flex-column.list-style-icons > li .nav-link.active > i,
.nav.flex-column.list-style-icons > li .nav-link:hover > i,
.nav.flex-column.list-style-icons > li .nav-link:focus > i {
  color: #0c9ec7;
}

.dark .footer-content .nav.flex-column > li > a.active:hover,
.dark .footer-content .nav.flex-column > li > a:hover {
  color: #0c9ec7;
}

/* Collapse
---------------------------------- */
.collapse-style-2 .card-header a {
  background-color: #09afdf;
}

/* Progress bars
---------------------------------- */
.progress-bar-default {
  background-color: #09afdf;
}

/* Forms
---------------------------------- */
.default-bg .form-control {
  border-color: #0c9ec7;
}

.default-bg .input-group-addon {
  border-color: #0c9ec7;
}

/*Icons
---------------------------------- */
.icon.default-bg {
  background-color: #09afdf;
}

.icon.light-bg {
  color: #09afdf;
}

/*Listing Items
---------------------------------- */
.listing-item .overlay-container .badge {
  border: 1px solid #09afdf;
  color: #09afdf;
}

/*Modals
---------------------------------- */
.modal-content .modal-header {
  background-color: #09afdf;
}

/*Pace (Page loader)
---------------------------------- */
/*loader 1*/
.page-loader-1 .pace {
  border: 1px solid #09afdf;
}

.page-loader-1 .pace .pace-progress {
  background: #09afdf;
}

.page-loader-2 .pace .pace-progress:before {
  background: #09afdf;
}

.page-loader-2 .pace .pace-activity {
  border: 5px solid #09afdf;
}

.page-loader-2 .pace .pace-activity:after {
  border: 5px solid #09afdf;
}

.page-loader-2 .pace .pace-activity:before {
  border: 5px solid #09afdf;
}

.page-loader-3 .pace .pace-progress {
  background: #09afdf;
}

.page-loader-4 .pace .pace-progress {
  background: #09afdf;
}

.page-loader-5 .pace .pace-progress:after {
  color: #09afdf;
}

.page-loader-6 .pace .pace-activity {
  background: #09afdf;
}

/* 6 Navigations
-------------------------------------------------
-------------------------------------------------*/
/* 6.1 Light Version
----------------------------------------------------------------------------- */
.header .navbar-nav li .nav-link:focus,
.header .navbar-nav li .nav-link:hover,
.header .navbar-nav .show > .nav-link,
.header .navbar-nav li .nav-link.show,
.header .navbar-nav .active.show > .nav-link,
.header .navbar-nav li.show .nav-link.active {
  color: #09afdf;
}

.header .navbar-nav .active > .nav-link,
.header .navbar-nav li .nav-link.active {
  color: #09afdf;
}

.header .navbar-nav li li a:focus,
.header .navbar-nav li li a:hover,
.header .navbar-nav li .show > a,
.header .navbar-nav li li a.show,
.header .navbar-nav li .active > a,
.header .navbar-nav li li a.active {
  color: #0c9ec7;
}

header:not(.dark) .mega-menu .menu > li > a:hover i,
header:not(.dark) .dropdown-menu > li > a:hover i,
header:not(.dark) .mega-menu .menu > li.active > a i,
header:not(.dark) .dropdown-menu > li.active > a i {
  color: #09afdf;
}

.navbar-light .navbar-toggler:hover,
.navbar-light .navbar-toggler:focus {
  border-color: #0c9ec7;
}

/* Small devices (tablets, phones less than 767px) */
@media (max-width: 991px) {
  .header .navbar-nav .active .nav-link,
  .header .navbar-nav .active .nav-link:hover,
  .header .navbar-nav .active .nav-link:focus {
    color: #0c9ec7;
  }
  /* first level item hover and focus states */
  .header .navbar-nav li > a:hover,
  .header .navbar-nav li > a:focus,
  .header .navbar-nav .active > a,
  .header .navbar-nav .active > a:hover,
  .header .navbar-nav .active > a:focus {
    color: #0c9ec7;
  }
  /* second level item on hover/focus */
  .header .navbar-nav .show .dropdown-menu > li > a:hover,
  .header .navbar-nav .show .dropdown-menu > li > a:focus {
    color: #0c9ec7;
  }
  /* Arrow for parent menu item */
  .header .navbar-nav .dropdown.show > .dropdown-toggle::after {
    color: #09afdf;
  }
}

/* 6.2 Dark Version
----------------------------------------------------------------------------- */
/* first level active menu item when opened */
.dark.header .navbar-nav .show .nav-link,
.dark.header .navbar-nav .show .nav-link:hover,
.dark.header .navbar-nav .show .nav-link:focus,
.dark.header .navbar-nav .dropdown .nav-link:focus {
  border-bottom-color: #2e3537;
}

/* second level menu item */
.dark.header .dropdown-menu {
  background-color: #2e3537;
}

.dark.header .dropdown-menu .divider {
  background-color: rgba(57, 66, 69, 0.8);
}

.dark.header .dropdown-menu > li > a,
.dark.header .navbar-nav .mega-menu .menu > li > a {
  border-bottom: 1px solid rgba(57, 66, 69, 0.8);
}

.dark.header .mega-menu .menu > li > a:hover,
.dark.header .mega-menu .menu > li > a:focus {
  border-color: rgba(57, 66, 69, 0.8);
}

.dark.header .dropdown-menu > li > a:hover,
.dark.header .dropdown-menu > li > a:focus,
.dark.header .navbar-nav .show > a,
.dark.header .navbar-nav .show > a:hover,
.dark.header .navbar-nav .show > a:focus,
.dark.header .dropdown-menu > .active > a,
.dark.header .dropdown-menu > .active > a:hover,
.dark.header .dropdown-menu > .active > a:focus,
.dark.header .dropdown-menu .menu > .active > a,
.dark.header .dropdown-menu .menu > .active > a:hover,
.dark.header .dropdown-menu .menu > .active > a:focus {
  border-color: rgba(57, 66, 69, 0.8);
}

/* 7 Blocks/Widgets
-------------------------------------------------
-------------------------------------------------*/
/* Social icons block
---------------------------------- */
.social-links li a:hover {
  border-color: #0c9ec7;
  color: #0c9ec7;
}

.social-links.animated-effect-1 li a:after {
  background-color: #09afdf;
}

.social-links.default li a {
  background-color: #09afdf;
  border: 1px solid #0c9ec7;
}

.header-top:not(.dark) .social-links .dropdown.show > button > i:before {
  color: #09afdf;
}

/*Header Dropdowns (search, cart etc)
---------------------------------- */
.header-dropdown-buttons .btn-group > .btn:hover {
  background-color: #09afdf;
  border-color: #0c9ec7;
}

.header-dropdown-buttons .btn-group.show > .btn {
  background-color: #09afdf;
  border-color: #0c9ec7;
}

.dark.header-top .dropdown-menu {
  border: 1px solid #252a2c;
  background: #2e3537;
}

.colored.header-top .dropdown-menu {
  border: 1px solid #09afdf;
  background: #09afdf;
}

/* Media
---------------------------------- */
.media:hover .icon {
  color: #09afdf;
  border: 1px solid #09afdf;
}

/* Full Width Content
---------------------------------- */
/* Large and Medium devices (desktops, tablets less than 1199px) */
@media (max-width: 1199px) {
  .full-width-section:not(.no-image) .full-text-container.default-bg {
    background-color: rgba(9, 175, 223, 0.6);
  }
}

/* Pricing tables
---------------------------------- */
.popover-title {
  background-color: #09afdf;
}

/* Tags cloud block
---------------------------------- */
.tag a {
  background-color: #09afdf;
  border: 1px solid #0c9ec7;
}

.tag a:hover {
  color: #09afdf;
  border-color: #0c9ec7;
}

/* 8 Main Slideshow
-------------------------------------------------
-------------------------------------------------*/
.tp-bannertimer {
  background-color: rgba(9, 175, 223, 0.8);
}

/* 9 Owl Carousel
-------------------------------------------------
-------------------------------------------------*/
.content-slider-with-large-controls .owl-nav .owl-prev:after,
.content-slider-with-large-controls-autoplay .owl-nav .owl-prev:after {
  color: #09afdf;
}

.content-slider-with-large-controls .owl-nav .owl-next:after,
.content-slider-with-large-controls-autoplay .owl-nav .owl-next:after {
  color: #09afdf;
}

/* 10 Full Page
-------------------------------------------------
-------------------------------------------------*/
#fp-nav ul li a span,
.fp-slidesNav ul li a span {
  background: rgba(9, 175, 223, 0.8);
}
