﻿@model DataTo.Models.UserViewModel


@{
    Layout = null;
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="Data Login">
    <title>Data Login</title>


    <link rel="stylesheet" href="~/Template/Admin/vendor/animate.css/animate.css">
    <!-- Bootstrap-->
    <link rel="stylesheet" href="~/Template/Admin/vendor/bootstrap/dist/css/bootstrap.min.css">
    <!-- Ionicons-->
    <link rel="stylesheet" href="~/Template/Admin/vendor/ionicons/css/ionicons.css">
    <!-- Material Colors-->
    <link rel="stylesheet" href="~/Template/Admin/vendor/material-colors/dist/colors.css">
    <!-- Application styles-->
    <link rel="stylesheet" href="~/Template/Admin/css/app.css">
</head>
<body>
    <div class="layout-container">
        <div class="page-container bg-blue-grey-900">
            <div class="d-flex align-items-center align-items-center-ie bg-gradient-primary">
                <div class="fw">
                    <div class="container container-xs">



                        <form class="t-cocardbox cardbox-flat text-white form-validate telor" method="post" action="#" autocomplete="off">

                            <div class="cardbox-heading">
                                <div class="cardbox-title text-center">Login</div>
                                <hr />
                            </div>
                            <div class="cardbox-body">
                                <div class="px-5">

                                    <div class="form-group">
                                        @Html.TextBoxFor(m => m.LoginName, new Dictionary<string, object>() {
                                        { "class", "form-control" }, { "data-info", "textarea-words-info" }, {"placeholder", "Usuario"} })
                                    </div>

                                    <!-- Password -->
                                    <div class="form-group">
                                        @Html.TextBoxFor(m => m.Password, new Dictionary<string, object>() {
                                        { "class", "form-control" }, { "type", "password" }, {"placeholder", "Contraseña"} })
                                    </div>

                                    <div>
                                        <div class="text-center my-4">
                                            <button class="btn btn-lg btn-gradient btn-oval btn-info btn-block" type="submit">Ingresar</button>
                                            @Html.ActionLink("Volver", "Index", "Home", null, htmlAttributes: new { @class = "btn btn-gradient btn-oval btn-danger btn-block" })
                                        </div>

                                    </div>
                                    <hr />
                                    <strong class="text-danger">@ViewBag.LoginError</strong>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modernizr-->
    <script src="~/Template/Admin/vendor/modernizr/modernizr.custom.js"></script>
    <!-- jQuery-->
    <script src="~/Template/Admin/vendor/jquery/dist/jquery.js"></script>
    <!-- Bootstrap-->
    <script src="~/Template/Admin/vendor/popper.js/dist/umd/popper.min.js"></script>
    <script src="~/Template/Admin/vendor/bootstrap/dist/js/bootstrap.js"></script>
    <!-- Material Colors-->
    <script src="~/Template/Admin/vendor/material-colors/dist/colors.js"></script>
    <!-- jQuery Form Validation-->
    <script src="~/Template/Admin/vendor/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/Template/Admin/vendor/jquery-validation/dist/additional-methods.js"></script>
    <!-- App script-->
    <script src="~/Template/Admin/js/app.js"></script>
</body>
</html>